<div class="row" data-th-fragment="booking-checkout">
    <div class="container">

        <div class="row">
            <div class="col-lg-1">
                <div class="sidebar-content-wrap">

                </div>
            </div>
            <div id="tooltip" class="col-lg-7">
                <div class="car-list-content m-t-50">

                    <div class="py-5 text-center">

                        <div class="alert alert-warning" role="alert">
                            <div sec:authorize="not isAuthenticated()"> If you already have an account on our website, please login.<a href="/login" class="alert-link">Click here to login!</a></div>
                        </div>
                        <h2>Checkout form</h2>
                    </div>

                    <div class="row">

                        <div class="col-md-10 order-md-1">
                            <h4 class="mb-3">Billing address</h4>

                            <form sec:authorize="not isAuthenticated()" action="#" th:action="@{/car/{carId}/booking/(carId=${carId})}" th:object="${longUserDto}" method="post" enctype="multipart/form-data">
                                                                   <div class="row">

                                                                       <div class="col-md-6 mb-3">
                                                                           <div class="text text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="${longUserDto.firstname}"></div>
                                                                           <label for="firstName">First name</label>
                                                                           <input th:field="${longUserDto.firstname}" type="text" class="form-control" placeholder="" value="" required="">
                                                                           <div class="invalid-feedback">
                                                                               Valid first name is required.
                                                                           </div>
                                                                       </div>
                                                                       <div class="col-md-6 mb-3">
                                                                           <div class="text text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="${longUserDto.lastname}"></div>
                                                                           <label for="lastName">Last name</label>
                                                                           <input th:field="${longUserDto.lastname}" type="text" class="form-control" placeholder="" value="" required="">
                                                                           <div class="invalid-feedback">
                                                                               Valid last name is required.
                                                                           </div>
                                                                       </div>
                                                                   </div>

                                                                   <div class="mb-3">
                                                                       <label for="username">Username</label>
                                                                       <div class="input-group">
                                                                           <div class="input-group-prepend">
                                                                               <span class="input-group-text"></span>
                                                                           </div>
                                                                           <div class="text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="${longUserDto.username}"></div>
                                                                           <input th:field="${longUserDto.username}" type="text" class="form-control" placeholder="Username" required="">
                                                                           <div class="invalid-feedback" style="width: 100%;">
                                                                               Your username is required.
                                                                           </div>
                                                                       </div>
                                                                   </div>

                                                                   <div class="mb-3">
                                                                       <div class="text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="${longUserDto.email}"></div>
                                                                       <label for="email">Email <span class="text-muted">(Optional)</span></label>

                                                                       <input th:field="${longUserDto.email}" type="email" class="form-control" placeholder="you@example.com">
                                                                       <div class="invalid-feedback">
                                                                           Please enter a valid email address for shipping updates.
                                                                       </div>
                                                                   </div>
                                                                   <div  class="mb-3">

                                                                       <div class="text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                                                                       <input type="password" th:field="${longUserDto.password}" placeholder="Password" class="form-control" />

                                                                   </div>


                                                                   <div class="mb-3">
                                                                       <label for="address">Address</label>
                                                                       <div class="text text-danger" th:if="${#fields.hasErrors('addressLine1')}" th:errors="${longUserDto.addressLine1}"></div>
                                                                       <input th:field="${longUserDto.addressLine1}" type="text" class="form-control" placeholder="1234 Main St" required="">

                                                                   </div>

                                                                   <div class="mb-3">
                                                                       <div class="text text-danger" th:if="${#fields.hasErrors('addressLine2')}" th:errors="${longUserDto.addressLine2}"></div>
                                                                       <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                                                                       <input th:field="${longUserDto.addressLine2}" type="text" class="form-control" placeholder="Apartment or suite">
                                                                   </div>

                                                                   <div class="row">
                                                                       <div class="col-md-5 mb-3">
                                                                           <div class="text text-danger" th:if="${#fields.hasErrors('country')}" th:errors="${longUserDto.country}"></div>
                                                                           <label for="country">Country</label>
                                                                           <input th:field="${longUserDto.country}" type="text" class="form-control" placeholder="" required="">
                                                                           <div class="invalid-feedback">
                                                                               Please select a valid country.
                                                                           </div>
                                                                       </div>
                                                                       <div class="col-md-4 mb-3">
                                                                           <div class="text text-danger" th:if="${#fields.hasErrors('state')}" th:errors="${longUserDto.state}"></div>
                                                                           <label for="state">State</label>
                                                                           <input th:field="${longUserDto.state}" type="text" class="form-control" placeholder="" required="">
                                                                           <div class="invalid-feedback">
                                                                               Please provide a valid state.
                                                                           </div>
                                                                       </div>
                                                                       <div class="col-md-3 mb-3">
                                                                           <div class="text text-danger" th:if="${#fields.hasErrors('zipCode')}" th:errors="${longUserDto.zipCode}"></div>
                                                                           <label for="zip">Zip</label>
                                                                           <input th:field="${longUserDto.zipCode}" type="text" class="form-control" placeholder="" required="">
                                                                           <div class="invalid-feedback">
                                                                               Zip code required.
                                                                           </div>
                                                                       </div>
                                                                   </div>
                                                                   <hr class="mb-4">
                                                                   <div class="custom-control custom-checkbox">
                                                                       <input type="checkbox" class="custom-control-input" id="same-address">
                                                                       <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                                                                   </div>
                                                                   <div class="custom-control custom-checkbox">
                                                                       <input type="checkbox" class="custom-control-input" id="save-info">
                                                                       <label class="custom-control-label" for="save-info">Save this information for next time</label>
                                                                   </div>
                                                                   <hr class="mb-4">

                                                                   <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                                                               </form>

          <form sec:authorize="isAuthenticated()" action="#" th:action="@{/car/{carId}/booking/user/{userId}(carId=${carId}, userId=${editUserDto.id})}" th:object="${editUserDto}" method="post" enctype="multipart/form-data">
                                                                   <div class="row">

                                                                       <div class="col-md-6 mb-3">
                                                                           <div class="text text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="${editUserDto.firstname}"></div>
                                                                           <label for="firstName">First name</label>
                                                                           <input th:field="${editUserDto.firstname}" type="text" class="form-control" placeholder="" value="" required="">
                                                                           <div class="invalid-feedback">
                                                                               Valid first name is required.
                                                                           </div>
                                                                       </div>
                                                                       <div class="col-md-6 mb-3">
                                                                           <div class="text text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="${editUserDto.lastname}"></div>
                                                                           <label for="lastName">Last name</label>
                                                                           <input th:field="${editUserDto.lastname}" type="text" class="form-control" placeholder="" value="" required="">
                                                                            <input th:field="${editUserDto.id}" type="hidden" class="form-control">
                                                                           <div class="invalid-feedback">
                                                                               Valid last name is required.
                                                                           </div>
                                                                       </div>
                                                                   </div>

                                                                   <div class="mb-3">
                                                                       <label for="username">Username</label>
                                                                       <div class="input-group">
                                                                           <div class="input-group-prepend">
                                                                               <span class="input-group-text"></span>
                                                                           </div>
                                                                           <div class="text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="${editUserDto.username}"></div>
                                                                           <input th:field="${editUserDto.username}" type="text" class="form-control" placeholder="Username" required="">
                                                                           <div class="invalid-feedback" style="width: 100%;">
                                                                               Your username is required.
                                                                           </div>
                                                                       </div>
                                                                   </div>



                                                                   <div class="mb-3">
                                                                       <label for="address">Address</label>
                                                                       <div class="text text-danger" th:if="${#fields.hasErrors('addressLine1')}" th:errors="${editUserDto.addressLine1}"></div>
                                                                       <input th:field="${editUserDto.addressLine1}" type="text" class="form-control" placeholder="1234 Main St" required="">

                                                                   </div>

                                                                   <div class="mb-3">
                                                                       <div class="text text-danger" th:if="${#fields.hasErrors('addressLine2')}" th:errors="${editUserDto.addressLine2}"></div>
                                                                       <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                                                                       <input th:field="${editUserDto.addressLine2}" type="text" class="form-control" placeholder="Apartment or suite">
                                                                   </div>

                                                                   <div class="row">
                                                                       <div class="col-md-5 mb-3">
                                                                           <div class="text text-danger" th:if="${#fields.hasErrors('country')}" th:errors="${editUserDto.country}"></div>
                                                                           <label for="country">Country</label>
                                                                           <input th:field="${editUserDto.country}" type="text" class="form-control" placeholder="" required="">
                                                                           <div class="invalid-feedback">
                                                                               Please select a valid country.
                                                                           </div>
                                                                       </div>
                                                                       <div class="col-md-4 mb-3">
                                                                           <div class="text text-danger" th:if="${#fields.hasErrors('state')}" th:errors="${editUserDto.state}"></div>
                                                                           <label for="state">State</label>
                                                                           <input th:field="${editUserDto.state}" type="text" class="form-control" placeholder="" required="">
                                                                           <div class="invalid-feedback">
                                                                               Please provide a valid state.
                                                                           </div>
                                                                       </div>
                                                                       <div class="col-md-3 mb-3">
                                                                           <div class="text text-danger" th:if="${#fields.hasErrors('zipCode')}" th:errors="${editUserDto.zipCode}"></div>
                                                                           <label for="zip">Zip</label>
                                                                           <input th:field="${editUserDto.zipCode}" type="text" class="form-control" placeholder="" required="">
                                                                           <div class="invalid-feedback">
                                                                               Zip code required.
                                                                           </div>
                                                                       </div>
                                                                   </div>
                                                                   <hr class="mb-4">
                                                                   <div class="custom-control custom-checkbox">
                                                                       <input type="checkbox" class="custom-control-input" id="same-address">
                                                                       <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                                                                   </div>
                                                                   <div class="custom-control custom-checkbox">
                                                                       <input type="checkbox" class="custom-control-input" id="save-info">
                                                                       <label class="custom-control-label" for="save-info">Save this information for next time</label>
                                                                   </div>
                                                                   <hr class="mb-4">

                                                                   <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                                                               </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-content-wrap">
                    <div class="single-sidebar">
                        <h3>PRICE LIST</h3>
                        <p> </p>
                        <div class="col-md-12 order-md-2 mb-4">
                            <br>
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
               <span class="text-muted">Your cart</span>
               <span class="badge badge-secondary badge-pill">3</span>
             </h4>
                            <ul class="list-group mb-3">

                                <li class="list-group-item d-flex justify-content-between lh-condensed" th:each="item : ${session.userBooking.bookingExtrasList}">
                                    <div>
                                        <h6 class="my-0" th:text="*{item.name}">e</h6>
                                        <small class="text-muted" th:text="*{item.description}"></small>
                                    </div>

                                    <div>
                                        <h6 class="my-0" th:text="'$' + *{item.totalValue} + ' / ' +  *{item.quantity} + 'pcs'"></h6>
                                        <small class="text-muted" th:text="'PLN' + *{item.price} + '/pcs'"></small>
                                    </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0" th:text="${session.car.brand} + ' ' +${session.car.model}"></h6>

                                    </div>

                                    <div>

                                        <h6 class="my-0" th:if="${session.daysOfRent}>1" th:text="'PLN' + ${session
                                        .daysOfRent}*${session.car.price}+ ' / ' + ${session.daysOfRent} + 'Day'"></h6>
                                        <h6 class="my-0" th:unless="${session.daysOfRent}>1" th:text="'PLN' + ${session
                                        .daysOfRent}*${session.car.price}+ ' / ' + ${session.daysOfRent} + 'Days'"></h6>

                                    </div>
                                </li>

                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Total (USD)</span>
                                    <strong th:text="${session.userBooking.totalCost}"></strong>
                                </li>
                            </ul>

                            <form class="card p-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Promo code">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-secondary">Redeem</button>
                                    </div>
                                </div>
                            </form>
                            <br>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>