<div class="content" data-th-fragment="admin-left-sidebar-menu">

    <div id="jquery-accordion-menu" class="jquery-accordion-menu">
        <div class="jquery-accordion-menu-header">Header </div>
        <ul>
            <li class="active"><a href="javascript:;"><i class="fa fa-home"></i>Home </a></li>
            <li>
                <a href="javascript:;"><i class="fa fa-cog"></i>Car </a>
                <ul class="submenu">
                    <li><a href="/admin/car/">Car </a></li>
                    <li><a href="/admin/car/picture">Car picture </a></li>
                    <li><a href="/admin/car/type">Cart type </a></li>
                    <li><a href="/admin/car/brand">Cart brand </a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="fa fa-newspaper-o"></i>Booking </a>
                <ul class="submenu">
                    <li><a href="#">All booking </a></li>
                    <li><a href="#">Only reserved booking </a><span class="jquery-accordion-menu-label">10 </span></li>
                    <li><a href="#">Only rented booking </a></li>
                    <li><a href="#">Cancelled booking </a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="fa fa-suitcase"></i>Car accesories</a>
            </li>
            <li>
                <a href="javascript:;"><i class="fa fa-user"></i>Users </a>
                <ul class="submenu">
                    <li><a href="#">Users </a></li>
                    <li><a href="#">Admin </a></li>
                </ul>
            </li>
            <li><a href="javascript:;"><i class="fa fa-user"></i>Location </a></li>
            <li><a href="javascript:;"><i class="fa fa-user"></i>Account setting </a></li>
            <li><a href="javascript:;"><i class="fa fa-user"></i>Log out</a></li>
        </ul>
        <div class="jquery-accordion-menu-footer"> </div>
    </div>

</div>