<div class="col-lg-9" data-th-fragment="admin-bookings">
    <div class="col-1g-12 col-md-12">
<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Booking</th>
                <th>User</th>
                <th>Car>
                <th>Receipt date</th>
                <th>Return date</th>
                <th>Location</th>
                <th>Status</th>
                <th>Add extra cost</th>
                <th>Car returned</th>
                <th>Cancel</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="booking: ${bookingList}">
                <td th:text="*{booking.id}">booking id</td>
                <td th:text="*{booking.userId}">user</td>
                <td th:text="*{booking.carId}">car</td>
                <td th:text="*{booking.startDate}">Receipt-date</td>
                <td th:text="*{booking.returnDate}">return-date</td>
                <td th:text="*{booking.cityId}">location</td>
                <td th:text="*{booking.bookingStatusCodeId}">status</td>
                <td><button type="button" class="btn btn-danger">Danger</button></td>
                <td><button type="button" class="btn btn-success">Success</button></td>
                <td><button type="button" class="btn btn-warning">Warning</button></td>
            </tr>



        </tbody>
        <tfoot>
            <tr>
                <th>Booking</th>
                <th>User</th>
                <th>Car>
                <th>Receipt date</th>
                <th>Return date</th>
                <th>Location</th>
                <th>Status</th>
                <th>Add extra cost</th>
                <th>Car returned</th>
                <th>Cancel</th>
            </tr>
        </tfoot>
        </table>
    </div>

</div>