<div class="col-lg-6 col-md-6 con suv mpv" data-th-fragment="single-popular-car-start" style="position: absolute; left: 0px; top: 0px;">
    <div class="single-popular-car">
        <div class="p-car-thumbnails">
            <a class="car-hover" href="/img/car/car-1.jpg">
                <img src="/img/car/car-1.jpg" alt="JSOFT">
            </a>
        </div>

        <div class="p-car-content">
            <h3>
                <a href="#">Dodge Ram 1500</a>
                <span class="price"><i class="fa fa-tag"></i> $55/day</span>
            </h3>

            <h5>HATCHBACK</h5>

            <div class="p-car-feature">
                <a href="#">2017</a>
                <a href="#">manual</a>
                <a href="#">AIR CONDITION</a>
            </div>
        </div>
    </div>
</div>