<th:block  data-th-fragment="javascript-area-start">

<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->/webjars/jquery/
<script src="/js/jquery-3.2.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="/js/jquery-migrate.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="/js/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="/js/bootstrap.min.js"></script>
 <script src="/js/plugins/gijgo.js"></script>
<!--=== Vegas Min Js ===-->
<script src="/js/plugins/vegas.min.js"></script>
<!--=== Isotope Min Js ===-->
<script src="/js/plugins/isotope.min.js"></script>
<!--=== Owl Caousel Min Js ===-->
<script src="/js/plugins/owl.carousel.min.js"></script>
<!--=== Waypoint Min Js ===-->
<script src="/js/plugins/waypoints.min.js"></script>
<!--=== CounTotop Min Js ===-->
<script src="/js/plugins/counterup.min.js"></script>
<!--=== YtPlayer Min Js ===-->
<script src="/js/plugins/mb.YTPlayer.js"></script>
<!--=== Magnific Popup Min Js ===-->
<script src="/js/plugins/magnific-popup.min.js"></script>
<!--=== Slicknav Min Js ===-->
<script src="/js/plugins/slicknav.min.js"></script>
<!--=== Slicknav Min Js ===-->
<script src="/js/range-slider.js"></script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip({boundary: 'window'});
});
</script>
<script src="/js/moment.js"></script>
<!--=== Mian Js ===-->
<script src="/js/main.js"></script>

<script src="/js/script.js"></script>
</th:block>