<div class="content" data-th-fragment="admin-left-sidebar-menu">

    <div id="jquery-accordion-menu" class="jquery-accordion-menu">
        <div class="jquery-accordion-menu-header">Header </div>
        <ul>
            <li class="active"><a href="/"><i class="fa fa-home"></i>Home </a></li>

 <li class="active"><a href="/admin/car"><i class="fa fa-car"></i>Car </a></li>
  <li class="active"><a href="/admin/car/picture"><i class="fa fa-car"></i>Car picture </a></li>
   <li class="active"><a href="/admin/car/type"><i class="fa fa-car"></i>Car type</a></li>
  <li class="active"><a href="/admin/car/brand"><i class="fa fa-car"></i>Car brand </a></li>
 <li class="active"><a href="/admin/booking"><i class="fa fa-suitcase"></i>Booking</a></li>
            <li><a href="javascript:;"><i class="fa fa-user"></i>Log out</a></li>
        </ul>
        <div class="jquery-accordion-menu-footer"> </div>
    </div>

</div>