<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <title>Cardoor - Car Rental HTML Template</title>

    <!--=== Bootstrap CSS ===-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--=== Slicknav CSS ===-->
    <link href="/css/plugins/slicknav.min.css" rel="stylesheet">
    <!--=== Magnific Popup CSS ===-->
    <link href="/css/plugins/magnific-popup.css" rel="stylesheet">
    <!--=== Owl Carousel CSS ===-->
    <link href="/css/plugins/owl.carousel.min.css" rel="stylesheet">
    <!--=== Gijgo CSS ===-->
    <link href="/css/plugins/gijgo.css" rel="stylesheet">
    <!--=== FontAwesome CSS ===-->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!--=== Theme Reset CSS ===-->
    <link href="/css/reset.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="/css/style.css" rel="stylesheet">
    <!--=== Responsive CSS ===-->
    <link href="/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	<script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="loader-active">

    <!--== Preloader Area Start ==-->
    <div data-th-replace="fragments/fragments-preloader-area-start :: preloader-area-start"></div>
    <!--== Preloader Area End ==-->
    <!--== Header Area Start ==-->
    <header data-th-replace="fragments/fragments-header-area :: header-area"></header>
    <!--== Header Area End ==-->

    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Login</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <!--== Login Page Content Start ==-->
    <section id="lgoin-page-wrap" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-8 m-auto">
                    <div class="login-page-content">
                        <div class="login-form">
                            <div class="alert alert-warning" th:if="${msg}">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
                                <strong th:text="${msg}"></strong>
                            </div>
                            <h3>Sign Up</h3>

                            <form autocomplete="off" action="#" th:action="@{'/register'}" th:object="${userDto}" method="post" class="form-signin" role="form">
                                <h3 class="form-signin-heading">Registration Form</h3>
                                <div class="form-group">
                                    <div class="">
                                        <input type="text" th:field="${userDto.firstname}" placeholder="Name" class="form-control" />
                                        <div class="text text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="${userDto.firstname}">error</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <input type="text" th:field="${userDto.lastname}" placeholder="Last Name" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <input type="text" th:field="${userDto.email}" placeholder="Email" class="form-control" />
                                        <div class="text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="${userDto.email}"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <input type="password" th:field="${userDto.password}" placeholder="Password" class="form-control" />
                                        <div class="text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="${userDto.password}"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <button type="submit" class="btn btn-primary btn-block">Register User</button>
                                    </div>
                                </div>

                            </form>

                        </div>

                        <div class="login-other">
                            <span class="or">or</span>
                            <a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Signup With Facebook</a>
                            <a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Signup With Google</a>
                        </div>
                        <div class="create-ac">
                            <p>Have an account? <a href="login.html">Sign In</a></p>
                        </div>
                        <div class="login-menu">
                            <a href="about.html">About</a>
                            <span>|</span>
                            <a href="contact.html">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== Login Page Content End ==-->

    <!--== Footer Area Start ==-->
    <section id="footer-area">
        <!-- Footer Widget Start -->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>About Us</h2>
                            <div class="widget-body">
                                <img src="/img/logo.png" alt="JSOFT">
                                <p>Lorem ipsum dolored is a sit ameted consectetur adipisicing elit. Nobis magni assumenda distinctio debitis, eum fuga fugiat error reiciendis.</p>

                                <div class="newsletter-area">
                                    <form action="index.html">
                                        <input type="email" placeholder="Subscribe Our Newsletter">
                                        <button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->

                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>Recent Posts</h2>
                            <div class="widget-body">
                                <ul class="recent-post">
                                    <li>
                                        <a href="#">
										Hello Bangladesh!
										<i class="fa fa-long-arrow-right"></i>
									</a>
                                    </li>
                                    <li>
                                        <a href="#">
										Lorem ipsum dolor sit amet
										<i class="fa fa-long-arrow-right"></i>
									</a>
                                    </li>
                                    <li>
                                        <a href="#">
										Hello Bangladesh!
										<i class="fa fa-long-arrow-right"></i>
									</a>
                                    </li>
                                    <li>
                                        <a href="#">
										consectetur adipisicing elit?
										<i class="fa fa-long-arrow-right"></i>
									</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->

                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>get touch</h2>
                            <div class="widget-body">
                                <p>Lorem ipsum doloer sited amet, consectetur adipisicing elit. nibh auguea, scelerisque sed</p>

                                <ul class="get-touch">
                                    <li><i class="fa fa-map-marker"></i> 800/8, Kazipara, Dhaka</li>
                                    <li><i class="fa fa-mobile"></i> +880 01 86 25 72 43</li>
                                    <li><i class="fa fa-envelope"></i> kazukamdu83@gmail.com</li>
                                </ul>
                                <a href="https://goo.gl/maps/b5mt45MCaPB2" class="map-show" target="_blank">Show Location</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->

        <!-- Footer Bottom Start -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </section>
    <!--== Footer Area End ==-->

    <!--== Scroll Top Area Start ==-->
    <div class="scroll-top">
        <img src="/img/scroll-top.png" alt="JSOFT">
    </div>
    <!--== Scroll Top Area End ==-->

    <!--=======================Javascript============================-->
    <!--=== Jquery Min Js ===-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <!--=== Jquery Migrate Min Js ===-->
    <script src="/js/jquery-migrate.min.js"></script>
    <!--=== Popper Min Js ===-->
    <script src="/js/popper.min.js"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="/js/bootstrap.min.js"></script>
    <!--=== Gijgo Min Js ===-->
    <script src="/js/plugins/gijgo.js"></script>
    <!--=== Vegas Min Js ===-->
    <script src="/js/plugins/vegas.min.js"></script>
    <!--=== Isotope Min Js ===-->
    <script src="/js/plugins/isotope.min.js"></script>
    <!--=== Owl Caousel Min Js ===-->
    <script src="/js/plugins/owl.carousel.min.js"></script>
    <!--=== Waypoint Min Js ===-->
    <script src="/js/plugins/waypoints.min.js"></script>
    <!--=== CounTotop Min Js ===-->
    <script src="/js/plugins/counterup.min.js"></script>
    <!--=== YtPlayer Min Js ===-->
    <script src="/js/plugins/mb.YTPlayer.js"></script>
    <!--=== Magnific Popup Min Js ===-->
    <script src="/js/plugins/magnific-popup.min.js"></script>
    <!--=== Slicknav Min Js ===-->
    <script src="/js/plugins/slicknav.min.js"></script>

    <!--=== Mian Js ===-->
    <script src="/js/main.js"></script>

</body>

</html>